.container{
    max-width: 80;
    background-color: blue;
    padding: 34px;
    margin: 23px;
}
.container h1, p{
    color: white;
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
}
input, textarea {
    width: 80%;
    padding: 7px;
    font-size: 16px;
    margin: 11px auto;
    outline: none;
    border-color: black;
    border-radius: 9px;
}
    

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn {
    color: white;
    background-color: tomato;
    padding: 8px;
    margin: 11px;
    font-size: 21px;
    border-radius: 10px;
}
p{
    font-size: 2rem;
}
h1{
    font-size: 2.8rem;
}